{% extends "base.html" %}

{% block title %}
Globion Solution Private Limited | Government Infrastructure & EPC Company
{% endblock %}

{% block content %}

{% include "components/hero.html" %}

{% include "components/trust.html" %}

{% include "components/services.html" %}

{% include "components/about.html" %}

{% include "components/projects.html" %}

{% include "components/process.html" %}

{% include "components/team.html" %}

{% include "components/safety.html" %}

{% include "components/contact.html" %}

{% endblock %}